extends layout

block content
    .row
        .col-12.col-md-8
            .container
                .row
                .col
                    h1.text-center Temperature
                    form(action='temperatures', method='POST')
                        select(name='selectedPlace')
                            each place in places
                                option(value=place) #{place}
                        input(type='submit', value='Submit')
                        //this #{} inserts variable directly into the page
                    p #{selectedPlace}
                    p #{message}

                .row
                    .col
                        .table-responsive
                        table.table.table-sm.table-hover
                            thead
                                tr
                                    //- th Callsign
                                    th Temperature
                                    th Wind Speed
                                    th Logon Time
                            tbody
                                each weather in weathers
                                    tr
                                        //- td #{weather.callsign}
                                        td #{weather.temp}
                                        td #{weather.wind}
                                        td #{weather.time_logon}

