extends layout

block content
    .row
        .col-12.col-md-8
            .container
                .row
                .col
                    h1.text-center Wind Speeds
                    form(action='windspeeds', method='POST')
                        select(name='selectedAirport')
                            each airport in airports
                                option(value=airport) #{airport}
                        input(type='submit', value='Submit')
                        //this #{} inserts variable directly into the page
                    p #{selectedAirport}
                    p #{message}

                .row
                    .col
                        .table-responsive
                        table.table.table-sm.table-hover
                            thead
                                tr
                                    //- th Callsign
                                    th Temperature
                                    th Wind Speed
                                    th Logon Time
                            tbody
                                each weather in weathers
                                    tr
                                        //- td #{weather.callsign}
                                        td #{weather.temp}
                                        td #{weather.wind}
                                        td #{weather.time_logon}

